/* ----------------------------- */
/* ==Forms                       */
/* ----------------------------- */

/* thanks to HTML5boilerplate,
* github.com/nathansmith/formalize and www.sitepen.com
*/

/* buttons */
.#{$kna-namespace}btn {
  display: inline-block;
}

/* forms items */
form,
fieldset {
  border: none;
}

input,
button,
select,
label,
.#{$kna-namespace}btn {
  font-family: inherit;
  font-size: inherit;
}

button,
input,
optgroup,
select,
textarea {
  color: $color-base;
}

label {
  cursor: pointer;
  font-size: $tiny-size;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  line-height: 2;
}

legend {
  border: 0;
  white-space: normal;
}

textarea {
  min-height: 5em;
  vertical-align: top;
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}

select {
  -webkit-appearance: menulist-button;
}

/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

::-webkit-input-placeholder {
  color: $color4;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $color4;
}

.#{$kna-namespace}btn,
input[type="button"],
button {
  &:focus {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

/* unstyled forms */

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &.#{$kna-namespace}unstyled {
    padding: 0;
    border: none;
    line-height: 1;
    text-align: left;
    background: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

//formulaire Innership

#login-form {
  fieldset {
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: $h2-size;
    font-weight: 400;
    line-height: 1;
    margin-bottom: $medium-value;
    + p {
      font-size: $base-font-size;
      margin-bottom: 3.5rem;
    }
  }
  input:not(.submit):not(.confirmCode) {
    font-size: $base-font-size;
    font-weight: 400;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    border: solid 1px $color6;
    border-radius: 3px;
    transition: all 0.3s ease;
    padding: 0 1rem;
    &::-webkit-input-placeholder { color: $color4 !important; font-weight: 400 !important; }
    &::-moz-input-placeholder { color: $color4 !important; font-weight: 400 !important; }
    &::-moz-placeholder { color: $color4 !important; font-weight: 400 !important; }
    &::-ms-input-placeholder { color: $color4 !important; font-weight: 400 !important; }
    &:focus {
      border-color: $color3;
      outline: none;
    }
    &.error {
      background: rgba(255, 5, 71, 0.07);
      border-color: $color-error;
    }
  }
  label.error {
    font-size: 1.3rem;
    color: $color-error;
    text-transform: none;
    margin-top: 0;
  }
  .text {
    display: block;
    margin-bottom: $medium-value;
    .input-help {
      font-size: $tiny-size;
      text-transform: none;
      a {
        color: $color-base;
        &:hover, &:focus {
          color: $color3;
        }
      }
    }
  }
  .submit {
    display: block;
    width: 100;
    text-align: center;
    margin-bottom: 2rem;
    input {
      border-radius: 100px;
      border: none;
      display: inline-block;
      cursor: pointer;
      heihgt: 4.5rem;
      line-height: 4.5rem;
      text-align: center;
      color: $color2;
      background: $color3;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: 0 3.5rem;
      transition: background 0.3s ease;

      &:hover, &:focus {
        background: $color1;
      }
    }
    .input-help {
      color: $color4;
    }
  }
  .confirmation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    input {
      width: 12%;
      height: 7rem;
      line-height: 7rem;
      padding: 0;
      text-align: center;
      border: solid 1px $color6;
      border-radius: 3px;
      transition: all 0.3s ease;
      &::-webkit-input-placeholder { color: $color4 !important; font-weight: 400 !important; }
      &::-moz-input-placeholder { color: $color4 !important; font-weight: 400 !important; }
      &::-moz-placeholder { color: $color4 !important; font-weight: 400 !important; }
      &::-ms-input-placeholder { color: $color4 !important; font-weight: 400 !important; }
      &:focus {
        border-color: $color3;
        outline: none;
          &::-webkit-input-placeholder { color: $color2 !important; font-weight: 400 !important; }
          &::-moz-input-placeholder { color: $color2 !important; font-weight: 400 !important; }
          &::-moz-placeholder { color: $color2 !important; font-weight: 400 !important; }
         &::-ms-input-placeholder { color: $color2 !important; font-weight: 400 !important; }
      }
      &.error {
        background: rgba(255, 5, 71, 0.07);
        border-color: $color-error;
      }
    }
  }
}
